POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=database
DATABASE_URL=postgres://user:password@db:5432/database
JWT_SECRET=medicina
TEST_DATABASE_URL=postgres://user:123@localhost:5432/database_test
TEST_JWT_SECRET=andre
